@model EmployeeDto
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <form class="forms-sample mt-5" method="post" asp-controller="Employee" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="FullName">FullName:</label>
            <input class="form-control" style="width:300px" asp-for="FullName">
            <span class="text-danger" asp-validation-for="FullName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Age">Age:</label>
            <input class="form-control" style="width:300px" asp-for="Age">
            <span class="text-danger" asp-validation-for="Age"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber">PhoneNumber:</label>
            <input class="form-control" style="width:300px" asp-for="PhoneNumber">
            <span class="text-danger" asp-validation-for="PhoneNumber"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email:</label>
            <input class="form-control" style="width:300px" asp-for="Email">
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="DepartmentId">Departments:</label>

            <select asp-for="DepartmentId" >
                @foreach (var item in ViewBag.Departments)
                {
                    <option value=@item.Id>@item.Name</option>
                }
            </select>

        </div>
        
        <button style="margin-top:10px" type="submit" class="btn btn-primary me-2">Submit</button>
        <button style="margin-top:10px" class="btn btn-danger">
            <a style="color:white;text-decoration:none" asp-controller="Department" asp-action="Index">Cancel</a>
        </button>
    </form>
</div>

@*@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}*@

