@model DepartmentDto
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <form class="forms-sample mt-5" method="post" asp-controller="Department" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name">Name:</label>
            <input placeholder="Enter Department name" class="form-control" style="width:300px" asp-for="Name">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address">Address:</label>
            <input placeholder="Enter Department address" class="form-control" style="width:300px" asp-for="Address">
            <span class="text-danger" asp-validation-for="Address"></span>
        </div>
        <button style="margin-top:10px" type="submit" class="btn btn-primary me-2">Submit</button>
        <button style="margin-top:10px" class="btn btn-danger">
            <a style="color:white;text-decoration:none" asp-action="Index">Cancel</a>
        </button>
    </form>
</div>

@*@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}*@




