@model DepartmentEditDto
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <form class="forms-sample mt-5" method="post" asp-controller="Department" asp-action="Edit" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name">Name:</label>
            <input class="form-control" style="width:300px" asp-for="Name">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address">Address:</label>
            <input class="form-control" style="width:300px" asp-for="Address">
            <span class="text-danger" asp-validation-for="Address"></span>
        </div>
        <div style="margin-top:10px" class="form-group">
            <select asp-for="ParentDepartmentId">
                @foreach (var item in ViewBag.Departments)
                {
                    if(item.Id != Model.Id)
                    {
                        <option value=@item.Id>@item.Name</option>
                    }
                }
            </select>
        </div>
        <br />
        <button class="btn btn-warning" asp-controller="Department" asp-action="Edit" type="submit">Update</button>
        <button class="btn btn-danger">
            <a style="text-decoration:none;color:white" asp-action="Index">Cancel</a>
        </button>
    </form>
</div>

